<!DOCTYPE html>
<html>
  <head>
    <title>DeviseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <header>
    <li>
      <%= link_to "トップページ", root_path %>
    </li>
    <% if admin_signed_in? %>
      <li>
        <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "管理者ログイン", new_admin_session_path %>
      </li>
    <% end %>
    
    <% if user_signed_in? %>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
      <li>
        <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post %>
      </li>
    <% end %>
    <p>admin:<span class="text-danger"><%= current_admin.name if admin_signed_in? %></span></p>
    <p>user:<span class="text-info"><%= current_user.name if user_signed_in? %></span></p>
  </header>
  
  <body>
    <p class="text-success"><%= notice %></p>
    <p class="text-danger"><%= alert %></p>
    <%= yield %>
  </body>
</html>
